.wrapper { width:440px; margin:auto;}
.wrapper > div {
    margin:10px 0;
    border: solid medium #555555;
    border-radius: 10px;
    padding:10px;
    background-color:#9999AA;
	font-family:Verdana,sans-serif;
}

.header { text-align: center; }
.header div { padding: 2px 0; }
/* fix flattr button */
.footer { font-size: x-small; padding-top:0px !important; }
.footer iframe { position: relative; top: 6px; }

.top10 { position:relative; width:100%; overflow:hidden;}
.top10 > div { float:left; font-size:small; margin-right:10px; }

.content { position:relative; }
.content #login { font-size:small; }

.userinfo { font-size:small;}
.userinfo span { font-weight:bold; }

.userdata { font-size:small;}
.userdata th { width:33%; text-align:left }

.usercreate { font-size:small; }
.usercreate form div {padding-bottom:3px;}

.fieldlist {font-size:small; width:30%; float:left;}
.fieldlist > div {text-align:center; font-weight:bold;}
.fieldlist > ol { margin-bottom:0px; margin-top:5px;}
.fieldlist li > span:first-child {font-weight:bold; padding-right:5px;}

.scrollbar { overflow-y:scroll; overflow-x:visible; height:400px; clear:both;}
#field { border-collapse:collapse; border-spacing:0; line-height:11px;}
#field tr { margin:0; padding:0; }
#field td { width:20px; height:20px; margin:0; padding:0; overflow:hidden;}

#faq div { font-weight:bold; }
#faq .hidden {display:none; }
